<div class="container">
    <div class="row">
        <div class="col-10 offset-1 mt-4">
            <form #searchForm="ngForm" (ngSubmit)="onQuestion(searchForm)">
                <div class="form-group">
                    <label for="question">Question</label>
                    <input type="text" 
                    name="question"
                    ngModel
                    #question="ngModel"
                    class="form-control"
                    required>

                    <strong *ngIf="question.touched && question.hasError('required')" 
                        class="text-danger">Question is a required Field.
                    </strong>

                    <strong class="text-info" *ngIf="question.dirty">
                        Wait For 2s for Answer...</strong>
                </div>

                <div class="text-center">
                    <button 
                        [disabled]="searchForm.invalid"
                        type="submit" 
                        class="btn btn-primary" 
                        >
                        Ask Gemini
                    </button>
                </div>
                <div class="form-group">
                    <label for="answer">Answer</label>
                    <textarea 
                        [value]="answerText" 
                        class="form-control" 
                        rows="10" 
                        readonly>
                    </textarea>
                </div>
            </form>
        </div>
    </div>
</div>
